<aside id="subscribe" class="modal large hidden">
	<div class="modal-wrap">
		<form id="email_subscribe" class="modal-body">
			<div class="modal-title clearfix strong uppercase"><%= theme.hero.newsletter.title%> <span class="modal-close" onclick="show_modal('subscribe')">&times;</span></div>
			<div class="modal-content light">
				<input placeholder="email" type="email" name="email" class="block width-100" />
			</div>
			<div class="modal-footer light">
				<button type="submit" class="pure-button pure-button-black">Subscribe</button>
			</div>
		</form>
	</div>
</aside>